Source: tuquito-wallpapers
Section: misc
Priority: extra
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1

Package: tuquito-wallpapers
Architecture: all
Description: Wallpapers de Tuquito
 Paquete que contiene los wallpapers oficiales de Tuquito 4.x
 * Tuquito Team! - 2010
